body {
    background-image: url("BaseRobot.png");
  }

  .slider{border-radius: 12px;}

.slidecontainer {
  width: 55%;
}

.slider {
  -webkit-appearance: none;
  width: 44%;
  height: 25px;
  background: #d1cece;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb{border-radius: 12px;}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #056e88;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #000000;
  cursor: pointer;
}

  .button{border-radius: 12px;}

  .button {
    background-color: #047d9be1;
    border: double;
    color: white;
    padding:14px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }